# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar


# UN COMMENT AND ADAPT IT IN  PILLAR (see mc_pillar.settings)
# makina-states.services.dns.slapd: true
# makina-states.services.dns.slapd.syncrepl:
#   binddn: "cn=x,ou=Virtual,ou=people,dc=x,dc=x"
#   credentials: "x"
# makina-states.services.dns.slapd.cert_domain: "ldap.x.net"
# makina-states.services.dns.slapd.dn: "dc=x,dc=x"
# makina-states.services.dns.slapd.root_dn: "cn=admin,dc=x,dc=x"
# makina-states.services.dns.slapd.root_pw: "x"
# makina-states.services.dns.slapd.config_pw: "x"
# makina-states.services.dns.slapd.mode: "master"

{% set fd_ver = '1.0.9.1' %}
makina-states.services.dns.slapd.fd_ver: "{{fd_ver}}"
makina-projects.projectname:
  data:
    admin_allowed_ips: []
    cfg_dn: "ou=fusiondirectory,ou=configs,ou=systems,dc=x,dc=x"
    cfg_uri: "ldap://xxx.net:389/dc=x,dc=x"
    cfg_admin: "cn=admin,dc=x,dc=x"
    cfg_admin_pw: "x"
    debug_level: "8"
    force_ssl: "FALSE"
    installmode: installed
    #installmode: latest
    display_errors: "TRUE"
    logging: "TRUE"
    accountPrimaryAttribute: "uid"
    fd_ver: "{{fd_ver}}"
    index: index.php
    domain: '{fqdn}'
    server_aliases: []
    mail: sysadmin@foo.com
    cron_periodicity: "*/30 * * * *"
    password: "secret"
    www_dir: '{project_root}/www'
    htaccess: '/etc/{name}.webaccess'
    apache_vhost:
      vh_content_source: "salt://makina-projects/{name}/files/virtualhost.conf"
      vh_top_source: "salt://makina-projects/{name}/files/top.conf"
      vhost_basenase: "corpus-fd-{name}"
      fpm_sock: "{fpm_sock}"
      allowed_files: "autocomplete.php|class_passwordRecovery.inc|getbin.php|geticon.php|index.php|logout.php|main.php|progress.php|recovery.php|setup.php"
    # http_users:
    #   - root: foo
    configs: {}
    # only needed for fd 1.8.0.6
    {% for i in ["/usr/share/fusiondirectory/include/functions.inc",
                 "/usr/share/fusiondirectory/plugins/admin/groups/class_group.inc"] %}
    {% endfor %}
    {#
    #  "{{i}}":
    #    source: "salt://makina-projects/{name}/files/{{i}}"
    #    mode: "644"
    #}
    #
    fdpkgs:
      - fusiondirectory
      - fusiondirectory-schema
      - fusiondirectory-plugin-personal-schema
      - fusiondirectory-plugin-personal
      - fusiondirectory-plugin-argonaut-schema
      - fusiondirectory-plugin-argonaut
      - fusiondirectory-plugin-systems
      - fusiondirectory-plugin-mail
      - fusiondirectory-plugin-gpg-schema
      - fusiondirectory-plugin-systems-schema
      - fusiondirectory-plugin-mail-schema
      - fusiondirectory-plugin-ssh-schema
      - fusiondirectory-plugin-sudo-schema
      - fusiondirectory-plugin-ssh
      - fusiondirectory-plugin-sudo
      - fusiondirectory-plugin-gpg
      - fusiondirectory-plugin-mixedgroups
      - fusiondirectory-smarty3-acl-render
      #- fusiondirectory-plugin-ppolicy-schema
      #- fusiondirectory-plugin-ppolicy
      #- fusiondirectory-theme-oxygen
    packages:
      - apache2
      - fusiondirectory-smarty3-acl-render
      - gettext
      - javascript-common
      - libcrypt-cbc-perl
      - libjs-prototype
      - libjs-scriptaculous
      - libnet-ldap-perl
      - libpath-class-perl
      - libterm-readkey-perl
      - libxml-twig-perl
      - php5
      - php5-cli
      - php5-curl
      - php5-gd
      - php5-imagick
      - php5-imap
      - php5-ldap
      - php5-mcrypt
      - php5-recode
      - php-fpdf
      - php-mdb2
      - php-mdb2-driver-mysql
      - php-mdb2-driver-pgsql
      - php-mdb2-schema
      - php-net-imap
      - schema2ldif
      - smarty3
    fpm_sock: "{project_root}/var/run/fpm.sock"
    fpm_pool:
      pool_name: "{name}"
      open_basedir:
        - "/usr/share/php"
        - "/usr/share/fusiondirectory"
        - "/var/run/fusiondirectory"
        - "/var/spool/fusiondirectory"
        - "/usr/share/fusiondirectory/html"
        - "/var/cache/fusiondirectory"
        - "/etc/fusiondirectory"
        - "/var/tmp"
        - "/tmp"
        - "{data_root}/www"
        - "{data_root}/var/log"
        - "{data_root}/var/tmp"
        - "{data_root}/var/private"
        - "{project_root}/www"
        - "{project_root}/lib"
        - "{project_root}/var/tmp"
        - "{project_root}/var/private"
        - "/usr/bin"
        - "/etc/fusiondirectory"
      include_path:
        - "/usr/share/fusiondirectory"
        - "/usr/share/fusiondirectory/include"
        - "/usr/share/fusiondirectory/html"
        - "{project_root}/www"
        - "{project_root}/lib"
      socket_name: "{fpm_sock}"
      session_auto_start: 0
      allow_url_fopen: 1
      upload_max_filesize: "25000M"
      max_input_vars: 3000
      fpm_user: "{user}"
      fpm_group: "www-data"
      memory_limit: "256M"
      modules:
        apc:
          user_entries_hint: 1000
          num_files_hint: 2000
          ttl: 0
          user_ttl: 300
          gc_ttl: 0
          shm_size: "64M"
    short_mail: true
    #
    deb_ver:
      "1.0.9": "1.0.9-1"
      "1.0.9.1": "1.0.9.1-1"
    fd_gh: "makinacorpus/corpus-fusiondirectory"
    fd_mirror: "http://repos.fusiondirectory.org/debian-wheezy"
    fd_mirror_path: "pool/main/f/fusiondirectory"
    gh_user: "xxx"
    gh_pw: "xxx"
    #
    ldap_client:
      uri: "ldap://xxx"
      kw:
        user: "{cfg_admin}"
        password: "{cfg_admin_pw}"
        tls: false
        base: "dc=xx,dc=xx"
    #
    extra_patches: []
    patches:
      1.0.9:
        - 'ogroup_1.patch'
        - 'ogroup_2.patch'
        - 'oattrs.patch'
        - 'classattrs.patch'
        - 'grouptabs.patch'
        - 'grouptabs2.patch'
        - 'groupusername.patch'
        - 'usergroupname.patch'
      1.0.9.1:
        - 'ogroup_2.patch'
        - 'oupusername.patch.1.9.0.1'
        # fixed more or less the same in the release
        #- 'usergroupname.patch' # this one inversed the label, buts its ok in the interface
        # those are merged back
        #- 'ogroup_1.patch'
        #- 'oattrs.patch'
        #- 'classattrs.patch'
        #- 'grouptabs.patch'
        #- 'grouptabs2.patch'
    files:
      fusiondirectory_1.0.9-1_all.deb: 7b6a1323381e8d7d4b07933b064a7916
      fusiondirectory-plugin-gpg_1.0.9-1_all.deb: eb9df4f091f241793328755b4fccd302
      fusiondirectory-plugin-gpg-schema_1.0.9-1_all.deb: 43100ef8c3d5203c04e3a5e85b50f98d
      fusiondirectory-plugin-mail_1.0.9-1_all.deb: a0a7a9a75ba010e27b5b133bb9eaabb0
      fusiondirectory-plugin-mail-schema_1.0.9-1_all.deb: 0bf76ff08f4d04b8b15a67002a132bac
      fusiondirectory-plugin-mixedgroups_1.0.9-1_all.deb: bb0b88f6cd7f69cec2b0c2355ba454e9
      fusiondirectory-plugin-ssh_1.0.9-1_all.deb: 80e8fad17513ef452155759a8d774bbe
      fusiondirectory-plugin-ssh-schema_1.0.9-1_all.deb: 6d9e0246af05e338746a5b2a63acc9f9
      fusiondirectory-plugin-sudo_1.0.9-1_all.deb: 8c921f4fad705bef06a56afaad4c4972
      fusiondirectory-plugin-sudo-schema_1.0.9-1_all.deb: 54abb0531b5e59716827de8f0790c530
      fusiondirectory-plugin-systems_1.0.9-1_all.deb: a9c76381498734d3f2c06d3f578fbcac
      fusiondirectory-plugin-systems-schema_1.0.9-1_all.deb: 7d7b538c6e50e07dc691221ae7866240
      fusiondirectory-schema_1.0.9-1_all.deb: 34a7a4f0788e22a51d0155fdb87b5b96
      fusiondirectory-plugin-argonaut_1.0.9-1_all.deb: 3af19f676a6f417af4043f738d75cf90
      fusiondirectory-plugin-argonaut-schema_1.0.9-1_all.deb: 43922053aa6459e7721974bf058fdc1f
      fusiondirectory-smarty3-acl-render_1.0.9-1_all.deb: b7dc9e4af704d6810c8e36dcb3b7c4ae
      fusiondirectory-plugin-personal_1.0.9-1_all.deb: 4ab029aa25cb9ea3835fb6cebf588f35
      fusiondirectory-plugin-personal-schema_1.0.9-1_all.deb: e5774dd658915f9341f7b4d52efc8417
      fusiondirectory-plugin-ppolicy_1.0.9-1_all.deb: 3b5a637e09cae0c439eac63ee07767f5
      fusiondirectory_1.0.9.1-1_all.deb: df09f3b8651aee05383adbb67261459b
      fusiondirectory-plugin-argonaut_1.0.9.1-1_all.deb: 6451497579a77bcde9fd4fa813edb08b
      fusiondirectory-plugin-argonaut-schema_1.0.9.1-1_all.deb: 38f88bd777f81dbabce0d802d5d5cdc8
      fusiondirectory-plugin-gpg_1.0.9.1-1_all.deb: def23860aae8d509e07b17f0395e37b9
      fusiondirectory-plugin-gpg-schema_1.0.9.1-1_all.deb: 174c13b2211cfbcf62d0ae228af04f0a
      fusiondirectory-plugin-mail_1.0.9.1-1_all.deb: b54073f3e3615e4a8794ab4c01c3e315
      fusiondirectory-plugin-mail-schema_1.0.9.1-1_all.deb: c6818ff78bf97674e15d51d2fc916488
      fusiondirectory-plugin-mixedgroups_1.0.9.1-1_all.deb: 4ddafcf47efde7d3e60de33abccb7727
      fusiondirectory-plugin-personal_1.0.9.1-1_all.deb: 3935d0a067d133fff4260b2b3ead7bf5
      fusiondirectory-plugin-personal-schema_1.0.9.1-1_all.deb: d01f38b13b1308c0ba689ee6dee709cc
      fusiondirectory-plugin-ssh_1.0.9.1-1_all.deb: 40a8f92734b78a7d5354756e9dd40676
      fusiondirectory-plugin-ssh-schema_1.0.9.1-1_all.deb: 6aa8a7d08d443dae1e0b8f1a2a37bc79
      fusiondirectory-plugin-sudo_1.0.9.1-1_all.deb: 984e8bc10bdd1969845c698f9f7030cc
      fusiondirectory-plugin-sudo-schema_1.0.9.1-1_all.deb: c639ba06ade9cc309c894e75d7ab99fc
      fusiondirectory-plugin-systems_1.0.9.1-1_all.deb: a4a8904059ce111c730c503caac04fc1
      fusiondirectory-plugin-systems-schema_1.0.9.1-1_all.deb: 4483380d104f5030804b93c1e79126dd
      fusiondirectory-schema_1.0.9.1-1_all.deb: c1f10f1f31627b07324e0788e2dd9a86
      fusiondirectory-smarty3-acl-render_1.0.9.1-1_all.deb: 95fed078594bf60cf7fd9369a3676078
      #fusiondirectory-plugin-ppolicy-schema_1.0.9-1_all.deb: e74c9c7c73fc63a29a889df9295538ef
      #fusiondirectory-theme-oxygen_1.0.9-1_all.deb: c4d280f58b9637c777bc6a56d0cb100f
# vim:set ft=yaml:
